/* 分页器 */
.el-pagination .el-select .el-input{
  width:100px !important;
}
.el-pagination__total{
  margin-left:16px;
}
.el-pagination__jump{
  margin-left:initial;
  margin-right:initial
}
.el-pagination{
  padding: 10px 5px;
}