*{
  margin:0;
  padding: 0;
}

.flex{
  display: flex;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-row-cneter{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-space-between{
  justify-content: space-between;
}

.flex-fill{
  flex:1;
}

.full-fill{
  width:100%;
  height:100%;
}

.height-full{
  height:100%;
}

.box{
  box-sizing: border-box;
  border:1px solid #dcdfe6;
}

.box-bottom{
  border-bottom:1px solid #dcdfe6;
}