*{
  margin:0;
  padding: 0;
}

.flex{
  display: flex;
}

.flex-row{
  display: flex;
  flex-direction: row;
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.flex-space-between{
  justify-content: space-between;
}

.flex-fill{
  flex:1;
}

.full-fill{
  width:100%;
  height:100%;
}

.border-right{
  border:1px solid #dcdfe6;
}